*{
    padding: 0;
    margin: 0;
    box-sizing:border-box

}

.header{
    
   
}
.header-bg{
    background-color: green;
}
.header-contact{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    color: white;
}
.header-contact p{
    
}
.header-contact a{
    text-decoration: none;
    color: white;
}
.header-logo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}
.logo{
    display: flex;
    
    align-items: center;
}
.logo p{
    color: rgb(0, 90, 0);
    font-weight:900;
    font-size: 24px;
}

.menu-bar{
    top:20px;
    right:20px;
    z-index:1;
    position: sticky;
}
.menu-bar i{
    font-size: 30px;
}
.list-icon{
    font-size: 40px;
  
    border-radius: 5px;
}
.nav{
    display: none;
    flex-direction: column;
  
}
.nav li{
    list-style: none;
}
.nav-item{
    padding: 5px 0;
}
.nav-link{
    font-size: 20px;
    color: white;
}

.logo-content{
    display: flex;

}
.logo-content1{
    display: flex;
    padding: 20px;

}
.logo-content1 img{
    padding: 10px;

}
.logo-btn{
    padding: 10px;
    background-color: rgb(0, 90, 0);
    color:white;
}
.header-nav{

    position: relative;
}
.header-nav{
    width: 80%;
    margin: 0 auto;
}
.nav-bar{
    width: 100%;
    height: 40px;
    background-color: #00338d;
    position: absolute;
    top: -20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;


}
.nav-bar a{
    text-decoration: none;
    color: white;
   

}


.home{
    background:url(../img/Banner\ 1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}
.home-container{
    width: 80%;
    height: 90vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.home-content{
    width: 100%;
    margin: 0 auto;
    color: white;
    

}
.home-content h1{
   font-size: 2.5rem;
    

}
.home-content h3{
   background-color: #00338d;
   font-size: 2rem;
   
    

}
.home-content h2{
   font-size: 1.5rem;
    

}
.home-content p{
    font-size: 1rem;
    

}
.home-rel{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.home-abs{
    position: absolute;
    bottom: -100px;
    display: flex;

}
.home-img{
    position: relative;
    width: 33.33%;

}
.home-img img{
   width: 100%;


}
.home-img-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
  
}
.home-img-content h4{
     padding: 10px 0;
}
.about{
    background:url(../img/Testimonial_Bg.png);
    background-repeat: no-repeat;
    
    width: 100%;
    background-size: cover;
    background-position: center;
}
.about-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 125px; 
    padding-bottom: 30px;
}
.about-content{


}
.about-content1{
    width: 30%;
    text-align: center;
}
.about-content2{
    width: 70%;

}
.about-imgs{
    display: flex;
    overflow: hidden;

}
.about-imgs img{
    padding: 20px;
}
.about-text p{
    padding: 15px 0;
    color: #a4a4a4;
}
.about-btns{
    display: flex;
    margin: 10px 0;
    gap: 10px;
}
.about-btn{
   
}
.about-btn1{
    text-decoration: none;
    color:black;
    padding: 10px 5px;
    border-radius: 5px;
    border: 3px solid #00338d;
    transition: all .5s ease-in-out;
}
.about-btn1:hover{
    background-color: #00338d;
    color: white;
}
.division{
    padding: 40px 0;
}
.division-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.division-logo{
    width: 20%;
    color:  #00328c;
    font-size: larger;

}
.division-text{
    width: 60%;

}
.division-btn{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.division-btn1{
    text-decoration: none;
    color:black;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: #00338e;
    color: white; 
    transition: all .5s ease-in-out;

}
.gallery{

}
.gallery-container{
 
}
.gallery-card{
    display: flex;
    flex-wrap: wrap;
}
.gimg1{
    width: 50%;
}
.gimg2{
    width: 25%;
}
.gimg3{
    width: 25%;
}
.gallery-card1{

	position:relative;
    overflow: hidden;
    
}
.gallery-card1 img{
	width:100%


}
.gallery-card1::before {
	content: "";
    background: rgb(40,87,157);
    background: linear-gradient(90deg, rgba(40,87,157,0.8) 33%, rgba(57,177,139,0.5) 68%);
    position: absolute;
    width: 80%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    opacity: 0;
	transition:all 0.5s ease-in-out;
}
.gallery-card1:hover.gallery-card1::before{
	opacity: 100%;
	transform:scale(1.5);
	
}
.gallery-card1-content{
	 opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.gallery-card1-content p{
	font-weight: normal;
	font-size:12px;
}
.gallery-card1-content:hover{
	opacity: 100%;
	transform:scale(1.1);
	
}


.ghover{
    margin: 10px 0;
}
.ghover-btn{
    padding: 10px 5px;
    background-color: white;
    color: aqua;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
}
.slide{
    padding: 30px 0;
    
}
.slide-container{
    width: 80%;
    margin: 0 auto;
    

}

.slide-cards{
    display: flex;
    flex-wrap: wrap;

}
.slide-cardp{
    width: 33.33%;
    padding: 0 10px;
}
.slide-card1{
    box-shadow: 0px 0px 3px gray;
}
.slide-card1 img{
    width: 100%;    
}
.slide-card1-text{
    padding: 10px 20px;
}
.slide-card1-text p{
    padding: 10px 0;
}
.readmore{
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    
}
.support{
    padding: 30px 0;
    background: rgb(40,87,157);
background: linear-gradient(90deg, rgba(40,87,157,1) 48%, rgba(57,177,139,1) 79%);

}
.support-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


}
.support-content1{
    width: 50%;
    color: white;

}
.support-content1 p{
    padding: 15px 0;

}
.support-content1 h1{
    

}
.support-content2{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;

}
.support-btn{
   

}
.support-btn1{
    text-decoration: none;
    color:black;
    padding: 10px 5px;
    border-radius: 5px;
    background-color:  white;
    color: #099c61; 
    transition: all .5s ease-in-out;

}
.testimonial{
    padding: 50px 0;
    background:url(../img/Testimonial_Bg.png);
    background-repeat: no-repeat;
}
.testimonial-container{
    width: 50%;
    margin: 0 auto;

}
.testimonial-head{
    text-align: center;

}
.testimonial-head{
    color:rgba(0, 0, 0, 0.5);
}
.testimonial-content{
    display: flex;
    margin: 20px 0;
}
.testimonial-cimg{
    padding: 20px;
    display: flex;
    justify-content: center;

}
.testimonial-text{
   padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.testimonial-text h3{


}
.testimonial-text p{
    color:rgba(0, 0, 0, 0.5);
}
.testimonial-text hr{
    width: 100%;
}

.icon{
    background:#ebebeb;
    
}
.icon-container{
    width: 80%;
    margin: 0 auto;
}


.form{



}
.form-container{
    display: flex;
    flex-wrap: wrap;
   
}
.form-content{
    width: 40%;
    background:url(../img/image\ 1.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;

}
.form-text{
    width: 80%;
    padding: 30px 0;
}
.form-text h1{
    padding: 20px 0;

}
.form-form{
    width: 60%;
    padding: 30px 0;
    background:url(../img/image\ 2.png);
    background-repeat: no-repeat;

}
.form-d{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.form1{
    width: 50%;
    display: flex;
    padding: 0 10px;
    flex-direction: column;
   
}
.form1 input{
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;

}

.form input[type="button"]{
    background-color: #ffaa01;
    border: none;
    


}
.footer{
    background:url(../img/Footer.png);
    background-repeat: no-repeat;
    color:white;
    background-size: cover;
}
.footer-container{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;


}
.footer1{
    width: 25%;
}
.footer-logo{
    display: flex;
   
    align-items: center;
}
.footer1-icons{
    margin: 10px 0;
}
.footer1-icons a{
    text-decoration: none;
    color: white;
    padding: 0 5px;
    

}
.footer2{
    width: 20%;
    display: grid;
    padding: 0 15px;
}
.footer2 h3{
    padding: 10px 0;
    color: #099c61;

}
.footer2 a{
    text-decoration: none;
    padding: 5px 0;
    color:#a4a4a4;
}
.footer3{
    width: 30%;
    padding: 0 15px;
}
.footer3 h3{
    padding: 10px 0;
    color: #099c61;

}
.footer3-li{
    display: flex;
    color: #a4a4a4;
}
.footer4{
    width: 25%;

}
.footer4 h3{
    padding: 10px 0;
    color: #099c61;

}
.footer4 p{
    padding: 5px 0;
}
.footer4 i{
    padding: 0 10px;

}
.footer4 a{
    text-decoration: none;
    color: white;
}

.copyright{
    background-color: black;
    color: #a4a4a4;
}
.copyright-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}





@media (min-width:320px){
    html{
        font-size: 15px;
    }
    .header-contact{
        
    }
    .nav-bar{
        display: none;
    }
    .logo-content{
        display: none;
    }
    .menu-bar{
        display: flex;
        flex-direction: column;
    }
    .home-abs{
        display: none;
    }
    .about-container{
        width: 95%;
        padding-top: 125px; 
        padding-bottom: 30px;
    }
    .about-content1{
        width: 100%;
       
    }
    .about-content2{
        width: 100%;
    
    }
    .division-container{
        width: 90%;
    }
    .division-logo{
        width: 100%;
    }
    .division-text{
        width: 100%;
    }
    .division-btn{
        width: 100%;
        padding: 20px 0;
    }
    .gimg1{
       
        display: none;
    }
    .gimg2{
        width: 50%;
    }
    .gimg3{
        width: 50%;
    }
    .slide-container{
        width: 90%;
        
    }
    .slide-cardp{
        width: 100%;
        margin: 10px 0;
    }
    .support-content1{
        width: 100%;
    }
    .support-content2{
        width: 100%;
        display: flex;
    justify-content: center;
    align-items: center;
    }
    .testimonial-content{
        display: inline-block;
    }
    .testimonial-container{
        width: 100%;
        
    }
    .form-content{
        width: 100%;
    }
    .form-form{
        width: 100%;

    }
    .form-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form1{
        width: 80%;
    }
    .footer1{
        width: 100%;
    
    }
    .footer2{
        width:100%;
    
    }
    .footer3{
        width: 100%;
    
    }
    .footer4{
        width: 100%;
    
    }
}

@media (min-width:600px){
    html{
        font-size: 15px;
    }
    .header-contact{
        
    }
    .nav-bar{
        display: flex;
    }
    .logo-content{
        display: flex;
    }
    .menu-bar{
        display: none;
    }
    .home-abs{
        display: flex;
   
    }
    .about-container{
        width: 95%;
        padding-top: 125px; 
        padding-bottom: 30px;
    }
    .about-content1{
        width: 30%;
       
    }
    .about-content2{
        width: 70%;
    
    }
    .division-container{
        width: 90%;
    }
    .division-logo{
        width: 40%;
    }
    .division-text{
        width: 60%;
    }
    .division-btn{
        width: 100%;
    }
    .gimg1{
       display: none;
    }
    .gimg2{
        width: 50%;
    }
    .gimg3{
        width: 50%;
    }
    .slide-container{
        width: 90%;
        
    }
    .slide-cardp{
        width: 50%;
    }
    .support-content1{
        width: 50%;
    }
    .support-content2{
        width: 50%;
        display: flex;
    justify-content: right;
    align-items: center;
    }
    .testimonial-content{
        display: flex;
    }
    .testimonial-container{
        width: 80%;
    }
    .form-content{
        width: 40%;
    }
    .form-form{
        width: 60%;

    }
    .form-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form1{
        width: 80%;
    }
    .footer1{
        width: 50%;
    
    }
    .footer2{
        width: 50%;
    
    }
    .footer3{
        width: 50%;
    
    }
    .footer4{
        width: 50%;
    
    }

}
@media (min-width:1024px){
    html{
        font-size: 15px;
    }
    .header-contact{
       
    }
    .nav-bar{
        display: flex;
    }
    .logo-content{
        display: flex;
    }
    .menu-bar{
        display: none;
    }
    
    .home-abs{
        display: flex;
    }
    .about-container{
        width: 80%;
        padding-top: 125px; 
        padding-bottom: 30px;
    }
    .about-content1{
        width: 30%;
      
    }
    .about-content2{
        width: 70%;
    
    }
    .division-container{
        width: 80%;
    }
    .division-logo{
        width: 20%;
    }
    .division-text{
        width: 60%;
    }
    .division-btn{
        width: 20%;
    }
    .gimg1{
        display: flex;
        width: 50%;
    }
    .gimg2{
        width: 25%;
    }
    .gimg3{
        width: 25%;
    }
    .slide-container{
        width: 80%;
        
    }
    .slide-cardp{
        width: 33.33%;
    }
    .support-content1{
        width: 50%;
    }
    .support-content2{
        width: 50%;
        display: flex;
    justify-content: right;
    align-items: center;
    }
    .testimonial-content{
        display: flex;
    }
    .testimonial-container{
        width: 50%;
    }
    
    .form-content{
        width: 40%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    .form-form{
        width: 60%;

    }
    .form1{
        width: 50%;
    }
    .footer1{
        width: 25%;
    
    }
    .footer2{
        width: 20%;
    
    }
    .footer3{
        width: 30%;
    
    }
    .footer4{
        width: 25%;
    
    }


}
